/* version bureau/desktop : largeur de l’écran 992px à 1400px max */
/* version tablette : largeur de l’écran de 768px à 991px */
/* version mobile : largeur de l’écran inférieure à 768px */

/*appel d'une police google font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*ajout de couleurs à la racine, à utiliser ensuite sous forme de variables sous la forme var(--dblue) */
:root {
    --grey: #f2f2f2;
    --lblue: #deebff;
    --dblue: #0065fc;
}


/* BODY : STYLISATION DE LA POLICE, LARGEUR MAX */
body {
    max-width: 1400px;
    margin: auto;
    font-family: Raleway;
}


.bold {
    font-weight: 600;
}

.blueico {
    color: var(--dblue);
}

.greyico {
    color: var(--grey);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-spacebetween {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-baseline {
    align-items: baseline;
}

.flex-center {
    align-items: center;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.block {
    display: block;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-30 {
    width: 30%;
}

.gap20px {
    gap: 20px;
}

.gap10px {
    gap: 10px;
}

.padding-rl-30px {
    padding: 10px 30px;
}

.no-padding {
    padding: 0px;
}

.padding-left-5px {
    padding-left: 5px;
}

.line-height-2em {
    line-height: 2em;
}

/* fond gris */
.grey-bg {
    background-color: var(--grey);
}

/* WIDTH DU MENU */
.menu-width {
    width: 25%;
}


/* STYLISATION DES CARDS EN HAUT DESKTOP*/
.article-top {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 15px;
    margin-right: 5px;
}

/*STYLISATION DES IMAGES EN HAUT */
.image-top {
    border-radius: 20px 20px 0 0;
    min-width: 17vw;
    height: 110px;
    object-fit: cover;
}


/*STYLISATION DES IMAGES A DROITE DESKTOP */
.image-right {
    min-width: 5vw;
    max-width: 9vw;
    min-height: 170px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

/* STYLISATION DES CARDS A DROITE DESKTOP */
.article-right {
    background-color: white;
    padding: 5px;
    padding-bottom: 3px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 15px;

}


.min-w-110 {
    min-width: 100px;
}

/* STYLISATION DES IMAGES EN BAS DESKTOP */
.image-bottom {
    max-width: 20vw;
    height: 60vh;
    min-height: 20vh;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/*STYLISATION DES CARDS EN BAS DESKTOP */
.article-bottom {
    background-color: white;
    padding-bottom: 3px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 40px;
}

.no-wrap {
    white-space: nowrap;
}


/* STYLISATION LOGO*/
.logo {
    width: 100px;
    object-fit: cover;
}

/* STYLISATION ICONE INFORMATION */
.icone-info {
    border: 1px solid var(--grey);
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 5px;
}

.h4-marginblock-5px {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

/* STYLISATION DE LA LISTE NON ORDONNEE */
.ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

/* STYLISATION DES ELEMENTS DE LA LISTE ORDONNEE */
.li {
    margin-inline-start: 0px;
}

/* STYLISATION LIENS AU SURVOL ET LORSQUE DEJA VISITES */
.link-black:link,
.link-visited-black:visited {
    color: black;
    text-decoration: none;
}


/* STYLISATION DES LIENS HOVER ET ACTIVE DU MENU ET DU FOOTER*/
.link-hover-activate-blue:hover,
.link-hover-activate-blue:active {
    color: var(--dblue);
}

/* STYLISATION BOUTONS */
.button {
    border: 2px solid var(--grey);
    padding: 9px 20px 8px 20px;
    border-radius: 25px;
    background-color: white;
    font-family: Raleway;
    font-weight: 700;
}

/* STYLISATION BOUTONS LORS DU SURVOL */
.button:hover,
.button:active {
    border-color: var(--grey);
    background-color: var(--lblue);
}



/* STYLISATION DES FIGURES */
.figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    width: min-content;
}

/* stylisation des figcaptions */
.figcaption {
    padding: 5px;
}

/* STYLISATION FORMULAIRE DE RECHERCHE */
.input-email {
    border: 2px solid var(--grey);
    padding: 14px;
    font-family: Raleway;
    font-weight: 700;
}

/* STYLISATION BOUTON DE RECHERCHE */
.input-search {
    background-color: var(--dblue);
    border: 0px;
    padding: 16px 10px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ico-gps {
    background-color: var(--grey);
    padding: 17px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}



/*
+++++++++++++++++++++++
RESPONSIVE TABLETTE
RESPONSIVE TABLETTE
RESPONSIVE TABLETTE
+++++++++++++++++++++++
*/

@media screen and (max-width: 992px) {
    .flex-row-tab {
        flex-direction: row;
    }

    .flex-column-tab {
        flex-direction: column;
    }

    .flex-nowrap-tab {
        flex-wrap: nowrap;
    }

    .max-w-150-tab {
        max-width: 150px;
    }


    .width-90-tab {
        width: 90%;
    }


    .width-92-tab {
        width: 92%;
    }

    .width-100-tab {
        width: 100%;
    }

    .menu-width {
        width: 33%;
    }

    /*STYLISATION DES IMAGES EN HAUT */
    .image-top {
        border-radius: 20px 20px 0 0;
        min-width: 25vw;
        height: 110px;
        object-fit: cover;
    }

    /* STYLISATION DES IMAGES EN BAS DESKTOP */
    .image-bottom {
        max-width: 20vw;
        height: 30vh;
    }

    /*.image-bottom {
        max-width: 20vw;
        min-height: 200px;
        max-height: 330px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }*/
}






/*
+++++++++++++++++++++++
RESPONSIVE MOBILE
RESPONSIVE MOBILE
RESPONSIVE MOBILE
+++++++++++++++++++++++
*/
@media screen and (max-width: 768px) {


    .flex-column-mob {
        flex-direction: column;
    }

    .flex-columnreverse-mob {
        flex-direction: column-reverse;
    }

    .flex-wrap-mob {
        flex-wrap: wrap;
    }



    .width-100-mob {
        width: 100%;
    }

    .width-92-mob {
        width: 92%;
    }

    .width-90-mob {
        width: 90%;
    }

    .menu-width {
        width: 100%;
    }

    .m-auto {
        margin: auto;
    }

    .nobg-mob {
        background-color: transparent;
    }

    .display-none-mob {
        display: none;
    }

    /* MOB STYLISATION BOUTON DANS HEADER LIGNE 4 */
    .button {
        width: 45%;
        min-width: 130px;
        margin-bottom: 10px;
        height: 50px;
        border: 2px solid var(--grey);
        padding: 6px 15px 6px 15px;
        font-size: 0.9em;

    }

    .figure {
        width: 100%;
    }

    .image-right {
        min-width: 39vw;
        max-width: 40vw;
    }

    .image-top {
        height: 25vh;
        width: 100%;
        max-width: 100%;
    }

    .image-bottom {
        height: 25vh;
        width: 100%;
        max-width: 100%;
    }

}