/* version bureau/desktop : largeur de l’écran 992px à 1400px max */
/* version tablette : largeur de l’écran de 768px à 991px */
/* version mobile : largeur de l’écran inférieure à 768px */

/*appel d'une police google font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*ajout de couleurs à la racine, à utiliser ensuite sous forme de variables sous la forme var(--dblue) */
:root {
    --grey: #f2f2f2;
    --lblue: #deebff;
    --dblue: #0065fc;
}


/* BODY : STYLISATION DE LA POLICE, LARGEUR MAX */
body {
    max-width: 1400px;
    margin: auto;
    font-family: Raleway;
}

/* CONFIGURATION TEMPORAIRE DE LA TAILLE DES IMAGES */
img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-spacebetween {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-baseline {
    align-items: baseline;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.width-90 {
    width: 90%;
}

.width-70 {
    width: 70%;
}

.width-30 {
    width: 30%;
}

.gap20px {
    gap: 20px;
}

.padding-rl-30px {
    padding: 10px 30px;
}

/* fond gris */
.grey-bg {
    background-color: var(--grey);
}


/* STYLISATION DE LA LISTE NON ORDONNEE */
ul {
    padding-inline-start: 0px;
}

/* STYLISATION DE LA LISTE NON ORDONNEE ET DE SES ELEMENTS */
ul li {
    list-style: none;
    margin-inline-start: 0px;
}

/* STYLISATION BOUTONS */
button {
    border: 2px solid var(--grey);
    padding: 9px 20px 8px 20px;
    border-radius: 25px;
    background-color: white;
    font-family: Raleway;
    font-weight: 700;
}

/* STYLISATION BOUTONS LORS DU SURVOL */
button:hover,
button:active {
    border-color: var(--grey);
    background-color: var(--lblue);
}


/* STYLISATION DES FIGURES */
figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* STYLISATION FORMULAIRE DE RECHERCHE */
form input {
    border: 2px solid var(--grey);
    padding: 14px;
    font-family: Raleway;
    font-weight: 700;
}

/* STYLISATION BOUTON DE RECHERCHE */
header input[type=submit] {
    background-color: var(--dblue);
    border: 0px;
    padding: 16px 10px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* STYLISATION DES CARDS */
article {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 15px;
}



/*
+++++++++++++++++++++++
RESPONSIVE TABLETTE
RESPONSIVE TABLETTE
RESPONSIVE TABLETTE
+++++++++++++++++++++++
*/

@media screen and (max-width: 992px) {

    .flex-row-tab {
        flex-direction: row;
    }

    .flex-column-tab {
        flex-direction: column;
    }

    .flex-nowrap-tab {
        flex-wrap: nowrap;
    }

    .width-90-tab {
        width: 90%;
    }

    .width-100-tab {
        width: 100%;
    }



    section article {
        max-width: 150px;
    }
}






/*
+++++++++++++++++++++++
RESPONSIVE MOBILE
RESPONSIVE MOBILE
RESPONSIVE MOBILE
+++++++++++++++++++++++
*/
@media screen and (max-width: 768px) {

    .flex-column-mob {
        flex-direction: column;
    }

    .flex-wrap-mob {
        flex-wrap: wrap;
    }

    .width-100-mob {
        width: 100%;
    }

    .width-90-mob {
        width: 90%;
    }



    /* MOB STYLISATION BOUTON DANS HEADER LIGNE 4 */
    button {
        width: 45%;
        min-width: 130px;
        margin-bottom: 10px;
        height: 50px;
        border: 2px solid var(--grey);
        padding: 6px 15px 6px 15px;
        font-size: 0.9em;

    }

}