/* version bureau/desktop : largeur de l’écran 992px à 1400px max */
/* version tablette : largeur de l’écran de 768px à 991px */
/* version mobile : largeur de l’écran inférieure à 768px */

/*appel d'une police google font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*ajout de couleurs à la racine, à utiliser ensuite sous forme de variables sous la forme var(--dblue) */
:root {
    --grey: #f2f2f2;
    --lblue: #deebff;
    --dblue: #0065fc;
}


/* BODY : STYLISATION DE LA POLICE, LARGEUR MAX */
body {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    font-family: Raleway;
}

/* CONFIGURATION TEMPORAIRE DE LA TAILLE DES IMAGES */
img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}


.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-spacebetween {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-baseline {
    align-items: baseline;
}

.flex-wrap {
    flex-wrap: wrap;
}


.width-60percent {
    width: 60%;
}





/*
+++++++++++++++++++++++
RESPONSIVE TABLETTE
RESPONSIVE TABLETTE
RESPONSIVE TABLETTE
+++++++++++++++++++++++
*/

@media screen and (min-width: 769px) and (max-width: 992px) {

    .width-100percent-tab {
        width: 100%;
    }
}






/*
+++++++++++++++++++++++
RESPONSIVE MOBILE
RESPONSIVE MOBILE
RESPONSIVE MOBILE
+++++++++++++++++++++++
*/
@media screen and (max-width: 768px) {

    .flex-column-mob {
        flex-direction: column;
    }

    .width-100percent-mob {
        width: 100%;
    }

    width-45percent-mob {
        width: 45%;
    }


}